*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(216, 211, 211);
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
/*     margin: auto; */
    /* height: 100vh; */

    /* border-radius: 15px; */


}
img{
    display: flex;
    justify-content: left;
    margin: 10%;
}

h3{
    padding: 10px;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    font-size: 30px;

}
p{
    padding: 10px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
}
.sedans{
    background-color: hsl(31, 77%, 52%);
    width: 250px;
    height: 400px;
   
}
.suv{
    background-color: hsl(184, 100%, 22%);
    width: 250px;
    height: 400px;
    
}
.luxury{
    background-color: hsl(179, 100%, 13%);
    width: 250px;
    height: 400px;
   
}
button{
    padding: 5px;
    margin: 20px 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: hsl(0, 0%, 95%);
}
button:hover{
    background-color: rgb(150, 141, 141);
    color: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;
}
.btn1{
    color: hsl(31, 77%, 52%);
}
.btn2{
    color: hsl(184, 100%, 22%);
}
.btn3{
    color: hsl(179, 100%, 13%);
}
